body * {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

.App {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 0.5rem;
}

.App__header {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
}

.App__header button {
  width: 44px;
  height: 44px;
}

.App__header input {
  margin-left: 0.5rem;
  width: calc(100% - 44px - 0.5rem);
}

.App__body {

}

.reset-btn {
  cursor: pointer;
}